<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <!-- The History of opened files list -->
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="no" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="yes" searchMode="0" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Path name="E:\SourceCode\c\Python-2.7.7\Modules" />
        <Path name="E:\SourceCode\c\Python-2.7.7" />
        <Path name="E:\SourceCode\c\Python-2.7.7 " />
        <Path name="D:\Program Files\Notepad++" />
        <Path name="D:\TEST\es-src" />
        <Path name="D:\TEST\qgb\" />
        <Path name="C:\Python27\Lib" />
        <Path name="C:\Python27" />
        <Path name="D:\Program Files\&#x300A;300&#x82F1;&#x96C4;&#x300B;\Config" />
        <Path name="C:\Users\QGB\AppData\Local\Google\Chrome\User Data" />
        <Filter name="*.*" />
        <Find name="Py_Initialize" />
        <Find name="Py_Main(int argc" />
        <Find name="Py_Main" />
        <Find name="batch" />
        <Find name="rem" />
        <Find name="bat" />
        <Find name="goto" />
        <Find name="win" />
        <Find name="winb" />
        <Find name='&quot;' />
        <Replace name="%2A" />
        <Replace name=" " />
        <Replace name="div" />
        <Replace name="dd" />
        <Replace name="a" />
        <Replace name="li" />
        <Replace name="http://218.196.40.23/?__" />
        <Replace name="\t" />
        <Replace name='href=&quot;https://www.zhihu.com/question/' />
        <Replace name="/" />
    </FindHistory>
    <FileBrowser />
    <History nbMaxFile="15" inSubMenu="no" customLength="-1">
        <File filename="E:\sourceCode\shell\ue.bat" />
        <File filename="C:\Documents and Settings\Administrator\Local Settings\Temp\CON77A.txt" />
        <File filename="C:\Documents and Settings\Administrator\Local Settings\Temp\Rar$DIa0.431\&#x6C49;&#x5316;&#x8BF4;&#x660E;.txt" />
        <File filename="E:\sourceCode\shell\py\npp.py" />
        <File filename="D:\android\adt\eclipse\eclipse.exe" />
        <File filename="D:\android\adt\eclipse\QGB_RUN_Eclipse.bat" />
        <File filename="D:\android\Workspace\res\layout\activity_main.xml" />
        <File filename="E:\sourceCode\shell\exe\keymap\script\keyToMouse.txt" />
        <File filename="E:\sourceCode\shell\py\netTool.py" />
        <File filename="D:\Program Files\Notepad++\langs.model.xml" />
        <File filename="D:\Program Files\Notepad++\functionList.xml" />
        <File filename="D:\Program Files\Notepad++\stylers.model.xml" />
        <File filename="C:\Documents and Settings\Administrator\Application Data\Notepad++\functionList.xml" />
        <File filename="D:\Program Files\Notepad++\readme.txt" />
        <File filename="E:\SourceCode\c\Python-2.7.7\Modules\getpath.c" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="-4" y="-4" width="1256" height="776" isMaximized="no" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20160201">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="no" printOption="1" headerLeft="$(FULL_CURRENT_PATH)" headerMiddle="" headerRight="$(LONG_DATE) $(TIME)" footerLeft="" footerMiddle="-$(CURRENT_PRINTING_PAGE)-" footerRight="" headerFontName="IBMPC" headerFontStyle="1" headerFontSize="8" footerFontName="" footerFontStyle="0" footerFontSize="9" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="yes" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="no" doubleQuotes="yes" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="D:\Program Files\Notepad++\stylers.xml" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="0" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="hide" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="yes" edge="no" edgeNbColumn="100" zoom="2" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="0" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="126" rightWidth="399" topHeight="200" bottomHeight="200">
            <FloatingWindow cont="4" x="529" y="74" width="748" height="623" />
            <FloatingWindow cont="4" x="529" y="74" width="748" height="623" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="0" prev="4" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="1" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="NppExec.dll" id="2" curr="1" prev="4" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="1" prev="4" isVisible="no" />
            <PluginDlg pluginName="NppExec(1).dll" id="2" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="NppFTP.dll0" id="0" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42051" curr="4" prev="1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42052" curr="4" prev="1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="0" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
            <ActiveTabs cont="4" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
