<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <!-- The History of opened files list -->HEAD
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="yes" matchCase="no" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="yes" searchMode="1" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Path name="C:\Users\lenovo\AppData\Roaming\Notepad++" />
        <Path name="G:\QGB\Anaconda2\lib\site-packages\pywinauto\" />
        <Path name="C:\Users\lenovo\OneDrive\chromExt\tabList" />
        <Path name="g:\qgb\anaconda2\lib\site-packages\ipython\" />
        <Path name="g:\qgb\anaconda2\lib\site-packages\ipython\lib" />
        <Path name="G:\QGB\babun\cygwin\home\qgb\wshell" />
        <Path name="G:\QGB\babun\cygwin\lib\python2.7\qgb" />
        <Path name="G:\QGB\software\xxnet\code\3.8.5\" />
        <Path name="G:\QGB\Anaconda3\Lib\site-packages" />
        <Path name="G:\QGB\babun\cygwin\home\qgb\chromExt" />
        <Filter name="*.*" />
        <Filter name="*.py" />
        <Find name="&lt;&lt;&lt;&lt;&lt;" />
        <Find name="send_message(" />
        <Find name="ipy" />
        <Find name="    " />
        <Find name="_TEXT" />
        <Find name="sub(" />
        <Find name="_safe_repr" />
        <Find name="_commajoin" />
        <Find name="_commajoin(components" />
        <Find name="repr(" />
        <Replace name="\t" />
        <Replace name="U._TEXT" />
        <Replace name="importU()" />
        <Replace name="import U()" />
        <Replace name=",F." />
        <Replace name="U.pln(" />
        <Replace name="U.pln" />
        <Replace name="pln" />
        <Replace name=";" />
        <Replace name="password_value" />
    </FindHistory>
    <FileBrowser latestSelectedItem="G:\QGB\babun\cygwin\home\qgb">
        <root foldername="G:\QGB\babun\cygwin\home\qgb" />
    </FileBrowser>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1">
        <File filename="g:\qgb\babun\cygwin\home\qgb\wshell\py\browsergo.py" />
        <File filename="G:\QGB\babun\cygwin\home\qgb\wshell\python3w.bat" />
        <File filename="G:\QGB\software\xxnet\start.vbs" />
        <File filename="G:\QGB\babun\cygwin\lib\python2.7\qgb\Win\!py_inspect.bat" />
        <File filename="G:\QGB\babun\cygwin\home\qgb\wshell\wshell.bat" />
        <File filename="G:\QGB\babun\cygwin\home\qgb\wshell\setqp.bat" />
        <File filename="G:\QGB\babun\cygwin\lib\python2.7\qgb\file\Brython.html" />
        <File filename="G:\QGB\babun\cygwin\home\qgb\chromExt\tabList\page.js" />
        <File filename="C:\Users\lenovo\Downloads\cdad.bat" />
        <File filename="C:\Users\lenovo\AppData\Roaming\Notepad++\config (2).xml" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="29" y="0" width="136" height="39" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20171201">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" langMenuCompact="no" />
        <GUIConfig name="Print" lineNumber="yes" printOption="0" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="no" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">0</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="yes" funcParams="no" />
        <GUIConfig name="auto-insert" parentheses="no" brackets="no" curlyBrackets="no" quotes="no" doubleQuotes="no" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="G:\QGB\Notepad++\stylers.xml" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="0" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="yes" edge="no" edgeNbColumn="80" zoom="0" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="200" rightWidth="350" topHeight="200" bottomHeight="200">
            <FloatingWindow cont="4" x="1434" y="234" width="1834" height="711" />
            <FloatingWindow cont="4" x="1207" y="229" width="1607" height="706" />
            <PluginDlg pluginName="ComparePlugin.dll" id="11" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42052" curr="4" prev="1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="4" prev="1" isVisible="yes" />
            <PluginDlg pluginName="dummy" id="0" curr="4" prev="1" isVisible="yes" />
            <PluginDlg pluginName="NppExec.dll" id="2" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="4" prev="1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="-1" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
            <ActiveTabs cont="4" activeTab="2" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
<?xml version="1.0" encoding="Windows-1252" ?>
